@import '../../style/variables.scss';

.iconsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 10fr));
  gap: 1.8rem;

  img {
    width: 60px;
    max-width: 100%;
    height: auto;
    max-height: 60px;
    align-self: center;
    justify-self: center;
  }
}
