@import '../../style/variables.scss';

.link {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: $main_theme_color;
  font-family: $font_default;
  font-size: 1rem;
  white-space: nowrap;
  transition: ease 0.4s;
}

.link:hover {
  box-shadow: 0 0 1rem $main_theme_color;
  transition: ease 0.4s;
}

.link:active {
  color: black;
}
