$backgroud_color: #030303;
$font_default: 'Raleway', sans-serif;
$main_theme_color: #8f00ff;
$main_theme_color_lighter: #af47ff;
$main_margin: 8rem;
$secondary_margin: 2rem;
$font_default_color: rgb(245, 245, 245);
