@import '../../style/variables.scss';

.gallerySection {
  scroll-margin-top: 40px;
  margin: 0 $main_margin 3rem $main_margin;
  min-height: 100vh;

  .gallerySectionTitle {
    font-size: 3rem;
    text-align: center;
    font-family: $font_default;
    padding-bottom: 2rem;
    color: $font_default_color;
  }

  .galleryItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  @media (max-width: 900px) {
    .galleryItems {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 700px) {
  .gallerySection {
    margin: 0 $secondary_margin 2rem $secondary_margin;
  }
}
